<<<<<<< Updated upstream
/* FILEPATH: xxxxxx */
=======
/* Reset all default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: rgb(243, 237, 237);
}

/* Header styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Heading styles */
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    background-color: beige;
}

/* Carousel styles */
.carouselbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: blue;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

/* Make search button text bold */
#searchBtn {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
>>>>>>> Stashed changes

/* Button styles */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

<<<<<<< Updated upstream
/* Heading styles */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

=======
/* Breed results container */
.breed-results {
    display: flex;
}

/* Style for each breed info box */
.infobox {
    display: flex;
    border: 1px solid #000; /* Add a border around each info box */
}

/* Next page button styles */
.nextpageBtn {
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    /* Add responsive styles here if needed */
}
>>>>>>> Stashed changes

/* Hover over button styles */
button:hover {
    background-color: #45a049;
}
