* {

}

body {
    background-color: rgb(243, 237, 237);
    word-wrap: break-word;
    overflow: auto;
}

header {
    display: flex;
}

/* Heading styles */
h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    background-color: beige;
}

.carouselbox {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: blue;
    justify-content: center;
    align-items: center;
}

/* make search text bold */
searchbtn {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
}

/* Button styles */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px; 
    margin: 4px 2px;
    cursor: pointer;
}
 
/* three photos */


/* would like to put border around each photo */
/* .breed-results {
    display: flex;
    justify-content: space-between;
}

.breed-results > * {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.breed-results > *:hover {
    background-color: #ddd;
}


/* add boxes around each */
.infoboxs {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
} */

nextpageBtn {

}

 /* h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
} */


/* Hover over button styles */

#nextButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#nextButton:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    font-size: small;
    height: 3.5px; 
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}