body {
    background-color: #D6E4E5;
    display: flex;
    flex-flow:column;
    justify-content: center;
}

header {
    display: flex;
}

/* Heading styles */
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    background-color: #EFF5F5;
}

#searchPoint {
    display: flex;
    flex-flow:column;
    justify-content: center;
}

#searchPoint > label, #searchPoint > select {
    margin: auto;
}

#breed-list {
    margin: auto;
}

option {
    text-transform: capitalize;
}

/* Button styles */
button {
    background-color: #EB6440;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
}


.breed-results {
    display: flex;
}

.nextpageBtn {
    margin: auto;

.breed-images {
    justify-content: center;
    background-color: rgb(122, 122, 214);
    position: relative;
    overflow: hidden;
}

.breed-images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all 5s ease-out;
}

.breed-images:nth-last-child(2) {
    opacity: 1;
    transform: scale(1);
}
/* add boxes around each */
infoboxs {
    display: flex;

}

@media screen and (max-width: 768px) {

}


/* searchbtn {
    text-align: center;
    text-decoration: none;
    
} */

/* .carouselbox {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: blue;
    justify-content: center;
    align-items: center;
} */

/* h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}


/* Hover over button styles */

/* #nextButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#nextButton:hover {
    background-color: #45a049;
} */ 
